<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="page-header">
            <h2 th:text="${user.email}"></h2>
        </div>
        <img th:src="@{${user.photoUrl}}" height="50" width="50" class="rounded float-left"/>

        <table th:if="${!user.userDetails.isEmpty()}" class="table table-striped float-left">
            <thead>
            <tr>
                <th>mac</th>
                <th>ip</th>
                <th>device</th>
                <th>blocked</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userDetails : ${user.userDetails}">
                <td th:text="${userDetails.macAddress}"></td>
                <td th:text="${userDetails.ipAddress}"></td>
                <td th:text="${userDetails.device}"></td>
                <td th:text="${userDetails.blocked}"></td>
                <td><a class="btn btn-danger" href="#" role="button">Block Device</a></td>
            </tr>
            </tbody>
        </table>
        <p th:if="${user.userDetails.isEmpty()}" class="error">Client doesn't have any devices yet.</p>
    </div>
</div>
</body>
</html>