<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Ruckus ZmartZone Application</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Ruckus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${navSection == 'home' ? 'active' : ''}"><a th:href="@{/}">Home</a></li>
            </ul>
            <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav navbar-nav">
                <li th:class="${navSection == 'admin' ? 'active' : ''}"><a th:href="@{/admin}">Admin Page</a></li>
            </ul>
            <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
                <li th:class="${navSection == 'login' ? 'active' : ''}"><a th:href="@{/login}">Sign In</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li class="dropdown">
                    <a id="user-menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Menu</li>
                        <li><a th:href="@{/userDetails}">Profile</a></li>
                        <li><a th:href="@{/logout}">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid wrapper">
    <div class="container">

    </div>
    <div layout:fragment="content">
    </div>
</div>
<footer class="footer">
    <p>© NURE, Cybersecurity 2018</p>
</footer>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>